/* Боковое меню */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #FF6347, #FF4500, #FF7F50);
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar nav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s ease, transform 0.2s;
}

.sidebar nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

/* Кнопка для открытия меню */
.menu-btn {
    background: linear-gradient(90deg, #FF6347, #FF4500, #FF7F50);
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.menu-btn:hover {
    transform: scale(1.05);
}

/* Основное содержимое сдвигается при открытии меню */
.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.main-content.menu-open {
    margin-left: 250px;
}
