<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Шапка сайта -->
    <header>
        <h1>{{ title }}</h1>
        <nav>
            <a href="{{ url_for('home') }}">Главная</a>
            <a href="{{ url_for('register') }}">Регистрация</a>
            <a href="{{ url_for('login') }}">Вход</a>
            <a href="{{ url_for('rules') }}">Правила</a>
            <a href="{{ url_for('how_it_works') }}">Как работает</a>
            <a href="{{ url_for('how_it_built') }}">Как устроен</a>
            {% if username %}
                <a href="{{ url_for('find_matches') }}">Найти совпадения</a>
                <a href="{{ url_for('logout') }}">Выход</a>
            {% endif %}
        </nav>
    </header>

    <!-- Приветствие -->
    {% if welcome_message %}
    <div class="welcome-message">
        <p>Добро пожаловать на сайт Telegram-бота МИСИС!</p>
    </div>
    {% endif %}

    <!-- Основной контент -->
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Подвал -->
    <footer>
        <div class="footer-highlight">
            Telegram-бот МИСИС при поддержке Master_Elit МИРЭА © 2024
        </div>
        <p>Все права защищены.</p>
    </footer>

    <!-- Подключение JavaScript -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
