{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="dashboard" class="fade">
    <h2>Добро пожаловать{{ ", " + username if username else "" }}!</h2>
    <p>Добро пожаловать в систему Telegram-бота МИСИС!</p>
    <div class="stats">
        <div>
            <span id="online-users">{{ user_count }}</span>
            <p>Пользователей зарегистрировано</p>
        </div>
        <div>
            <span id="active-users">{{ active_users }}</span>
            <p>Пользователей онлайн</p>
        </div>
    </div>
</section>
{% endblock %}
