{% extends "base.html" %}
{% block title %}Как работает{% endblock %}
{% block content %}
    <h2>Как работает бот</h2>
    <div class="content-block fade">
        <ol>
            <li>Заполни анкету для регистрации и укажи свои интересы — это анонимно и конфиденциально.</li>
            <li>Проверь свой профиль и убедись, что все данные заполнены корректно.</li>
            <li>Найди мэтч: нажми «Найти мэтч», чтобы получить собеседника с совпадающими интересами.</li>
            <li>Создай предложение, если хочешь найти человека с другими интересами или для конкретного мероприятия. Укажи нужные интересы и опиши задачу, например: ищешь помощь с философией — отметь это в предложении!</li>
        </ol>
    </div>
{% endblock %}
