{% extends "base.html" %}
{% block content %}
<h2>Регистрация</h2>
<form method="post">
    <label for="name">Имя пользователя:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="institute">Институт:</label><br>
    <input type="text" id="institute" name="institute"><br><br>

    <label for="interests">Интересы (через запятую):</label><br>
    <input type="text" id="interests" name="interests"><br><br>

    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
