{% extends "base.html" %}
{% block title %}Правила{% endblock %}
{% block content %}
    <h2>Правила использования</h2>
    <div class="content-block fade">
        <ul>
            <li>Будьте вежливы и уважайте других участников.</li>
            <li>Не делитесь личной информацией, которую не хотите делать публичной.</li>
            <li>Избегайте спама, оскорблений и недопустимого контента. Нарушение правил может привести к блокировке аккаунта.</li>
            <li>Обмен социальными сетями по желанию. Мы не несем ответственность за общение вне платформы.</li>
        </ul>
    </div>
{% endblock %}
